@{
    ViewBag.Title = "Desarrolladores";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Javier Mollinedo: </strong><a href="mailto:jmollinedoa@outlook.es">jmollinedoa@outlook.es</a><br />
    <strong>Pablo Grajeda: </strong><a href="mailto:pablo_082006@hotmail.com">pablo_082006@hotmail.com</a><br />
    <strong>Repositorio GitHub </strong><a href="https://github.com/JMollinedo/lab01_ED1">Laboratorio 01 - Estructuras de Datos I</a><br />
</address>

@*<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@